.hacker-news-post-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 6rem;
    overflow-x:hidden; 
    .hacker-news-post {
        width:75%;
        padding: 2rem;
        background-color: #fff; 
        
        h4 a {
            text-decoration: none;
            color: inherit;
        }
        .__post-url {
            font-size: 1.2rem;
        }
        .__post-info {
            a {
                text-decoration: none;
                color: #b92b27;
                font-weight: 700;
            }
        }
    }

    .hacker-news-comments {
        width: 75%;
        margin-top: 2rem;
        padding: 2rem;
        background-color: #fff;
        .hacker-news-comment {
            word-break: break-word;
            width: 100%;
            padding-left: 2rem;
            &.first-level {
                padding: 0;
            }
            .open {
                opacity: 1;
                display: block;
            }
            .close {
                opacity: 0;
                display: none;
            }
            &-user {
                margin-top: 1rem;
                .collapse {
                    cursor: pointer;
                }
                .user {
                    text-decoration: none;
                    font-weight: 700;
                    color: #b92b27;
                }
            }
            &-content {
                margin-top: 1rem;
                margin-bottom: 1rem;
                border-bottom: 1px solid #d3d3d3;
            }
        }
    }

    @media (max-width: 480px) {
        .hacker-news-comments {
            width: 100%;
        }

        .hacker-news-post {
            width: 100%;
        }
    }
}