html, body {
    height: 100%;
    max-width: 100%;
  //   overflow-x: auto; 
  //   overflow-y: scroll;
  //  -webkit-overflow-scrolling: touch;
    background-color: #f2f3f5;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.App {
   // padding-top: 10rem;
}